

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}
*{ box-sizing:border-box;}



body {
  color: #333;
  -webkit-font-smoothing: antialiased;
 
}
.wrap {
  width: 50%;
  margin: 0 auto;
}
h1 {
  font-weight: bold;
  text-align: center;
  font-size: 1.5em;
  padding: .5em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #dadada;
  letter-spacing: 3px;
  text-transform: uppercase;
}
ul {
    li {
        line-height: 2;
        font-weight: bold;
        font-size: .85em;text-transform: uppercase;
        clear: both;
        // border-bottom: 1px solid $border;
        &:before {
            content: "\2023";
            padding: 0 1em 0 0;
        }
    }
 }
 .bar {
    background:#15AEBD;
    width: 0;
    margin: .25em 0;
    color: #333333;
    position: relative;
     transition:width 2s, background .2s;
   -webkit-transform: translate3d(0,0,0);
     clear: both;
     &:nth-of-type(2n) {
        background:lighten(#15AEBD , 10% );
     }
     .label {
        font-size: .75em;
        padding: 1em;
        background: $dark;
        width: 8em;
        display: inline-block;
        position: relative;
        z-index: 2;
        font-weight: bold;
         &.light {
        background:lighten($dark , 10% );
     }

}
 }

  .bar2 {
    background:#5C93DB;
    width: 0;
    margin: .25em 0;
    color: #333333;
    position: relative;
     transition:width 2s, background .2s;
   -webkit-transform: translate3d(0,0,0);
     clear: both;
     &:nth-of-type(2n) {
        background:lighten(#5C93DB , 10% );
     }
     .label {
        font-size: .75em;
        padding: 1em;
        background: $dark;
        width: 8em;
        display: inline-block;
        position: relative;
        z-index: 2;
        font-weight: bold;
         &.light {
        background:lighten($dark , 10% );
     }

}
 }
 .count {
    position: absolute;
    right: .25em;
    top: .75em;
    padding: .15em; 
    font-size: .85em;
    font-weight: bold;
 }
